# Project exclude paths
/.gradle/
/boot-api/out/
/boot-api/out/production/classes/
/boot-api/out/test/classes/
/boot-blog/out/
/boot-blog/out/production/classes/
/data-blog/out/
/data-blog/out/production/classes/
/data-blog/out/test/classes/


.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
logs/
